* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;

}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #F1F2F4;
    overflow: hidden;
}

/* 
#ribbon {
    height: 150%;
    width: 50px;
    position: absolute;
    margin-left: 40%;
    bottom: -10%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    transform: rotate(45deg);
    background: linear-gradient(#B6D448, #D4EC82);

} */

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 10%;
    background: linear-gradient(#B6D448, #D4EC82);

    /* background-color: coral; */
}

#logo {
    font-size: 20px;
    font-family: montserrat;
    font-weight: 600;
    margin: 20px;
    text-decoration: none;
}
#logo a{
    color: #111;
    text-decoration: none;
}

#main button {
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    background-color: black;
    font-weight: 550;
    color: #fff;
    z-index: 2;
}

#main button:hover {
    border: #111 2px solid;
    background-color: white;
    color: #111;
}


#form {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: #dec8c83f;
    border-radius: 12px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form>h1 {
    background: linear-gradient(#B6D448, #D4EC82);
    margin: 10%  auto 5%;
    width: fit-content;
    padding: 0 15px;
    border-radius: 50px;

}

#form input {
    border-radius: 5px;
    height: 30px;
    width: 300px;
    margin: 10px;
    border: none;
    box-shadow: 0.5px 1px #111 solid;
}

#form button:hover {
    border: #D4EC82 2px solid;
    background-color: white;
    color: #B6D448;
}

#form button {
    padding: 5px 10px;
    margin: 20px auto;
}

img{
    margin-top: 50px;
    height: 50px;
}

footer{
    height: 100px;
    margin-top: 32%;
    background-color: #F3A75B;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    
}footer>img{
margin-bottom: 3%;
}


@media (max-width:600px) {
    footer{
        height: 100px;
        margin-top: 104%;
        background-color: #F3A75B;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        
    }
}

/* 
#nav{
    height: 10%;
    position: absolute;
    
}
#main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F2F4;
}

#form {
    height: 300px;
    width: 400px;

    background-color: #F6F6F8;
} */